.game-board-container {
  background-color: rgb(204, 195, 164);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  flex-wrap: wrap;
  width: 450px;
}
